/* Responsive Grid System
   Authored By - Rick Hocutt
============================================== */
/*  Create Floated Columns */
[class*="grid-"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px;
  position: relative;
  width: 100%;
}

/* If the column spans the full width remove the paddings - all cases */
.flush {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.flush-left {
  padding-left: 0 !important;
}

.flush-right {
  padding-right: 0 !important;
}

/* Columns */
.grid-1 {
  width: 8.33333%;
}

.grid-2 {
  width: 16.66667%;
}

.grid-3 {
  width: 25%;
}

.grid-4 {
  width: 33.33333%;
}

.grid-5 {
  width: 41.66667%;
}

.grid-6 {
  width: 50%;
}

.grid-7 {
  width: 58.33333%;
}

.grid-8 {
  width: 66.66667%;
}

.grid-9 {
  width: 75%;
}

.grid-10 {
  width: 83.33333%;
}

.grid-11 {
  width: 91.66667%;
}

.grid-12 {
  width: 100%;
}

/* Push-Pull column left/right the same amount as corresponding column width */
.push-1 {
  left: 8.33333%;
}

.push-2 {
  left: 16.66667%;
}

.push-3 {
  left: 25%;
}

.push-4 {
  left: 33.33333%;
}

.push-5 {
  left: 41.66667%;
}

.push-6 {
  left: 50%;
}

.push-7 {
  left: 58.33333%;
}

.push-8 {
  left: 66.66667%;
}

.push-9 {
  left: 75%;
}

.push-10 {
  left: 83.33333%;
}

.push-11 {
  left: 91.66667%;
}

.push-12 {
  left: 100%;
}

/* Pull Columns Left */
.pull-1 {
  left: -8.33333%;
}

.pull-2 {
  left: -16.66667%;
}

.pull-3 {
  left: -25%;
}

.pull-4 {
  left: -33.33333%;
}

.pull-5 {
  left: -41.66667%;
}

.pull-6 {
  left: -50%;
}

.pull-7 {
  left: -58.33333%;
}

.pull-8 {
  left: -66.66667%;
}

.pull-9 {
  left: -75%;
}

.pull-10 {
  left: -83.33333%;
}

.pull-11 {
  left: -91.66667%;
}

.pull-12 {
  left: -100%;
}

/* For the occasional chance we need to offset something to the right */
.offset-1 {
  margin-left: 8.33333%;
}

.offset-2 {
  margin-left: 16.66667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.33333%;
}

.offset-5 {
  margin-left: 41.66667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.33333%;
}

.offset-8 {
  margin-left: 66.66667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.33333%;
}

.offset-11 {
  margin-left: 91.66667%;
}

.offset-12 {
  margin-left: 100%;
}

.pull-right[class*="grid"] {
  float: right;
}

.pull-left[class*="grid"] {
  float: left;
}

/* Example Styles
------------------------------------------------- */
.show-grid {
  background: url("../images/common/grid-bg.png") left top;
  background-size: contain;
}

.show-grid [class*="grid-"] {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px 3px 3px 3px;
  min-height: 40px;
}

.show-grid .show-bg {
  background-color: #555;
  color: #fff;
  text-shadow: 1px 1px 0 #000;
  line-height: 40px;
  text-align: center;
}

.no-rgba .show-grid [class*="grid-"],
.msie-lt9 .show-grid [class*="grid-"] {
  background-color: #777;
}

.show-grid .row-fluid:hover [class*="grid-"] {
  background: rgba(0, 0, 0, 0.3);
}

.no-rgba .show-grid .row-fluid:hover,
.msie-lt9 .show-grid .row-fluid:hover [class*="grid-"] {
  background: #333;
}
